.logout-button {
  float:right;
  background-color: red;
  width: 49px;
  height: 49px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px outset red;
  margin-top: 7px;
  margin-right: 7px;
}
.absolute{
  display: block;
  top: 0px;
  right: 0px;
  z-index: 999;
  position: absolute;
}
