.description,
.feedback,
.grade {
  background-color: lightgray;
  flex-wrap: nowrap;
  font-size: 1.5em;
}
.description {
  font-size: 2em;
}
.grade-date,
.exam-date {
  white-space: pre;
  border-right: 1px solid gray;
  border-left: 2px ridge gray;
}
.grade-title,
.exam-title {
  min-width: calc(100% - 75% - 1px);
  width: calc(100% - 15% - 1px);
  max-width: calc(100% - 1px);
  border-right: 1px solid gray;
}
.grade-score,
.exam-score {
  border-right: 1px solid gray;
}
.grade-weight,
.exam-weight {
  border-right: 2px ridge gray;
}
.grade-date,
.grade-title,
.grade-score,
.grade-weight {
  font-weight: bolder;
  border-bottom: 1px solid gray;
}
.popup-button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-top: 1px solid gray;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  padding: 5px 0;
}
.exam-feedback-button {
  border-top: 1px solid gray;
  border-bottom: 5px ridge gray;
  border-left: 2px ridge gray;
  border-right: 2px ridge gray;
}
