.popup-window {
  position: absolute;
  background-color: lightgray;
  flex-wrap: nowrap;
  border: 3px solid gray;
  text-align: center;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
.popup-content .grade-date,
.popup-content .exam-date {
  border-left: 0px;
  margin-left: 0px;
}

.popup-content .grade-weight,
.popup-content .exam-weight {
  border-right: 0px;
  margin-right: 0px;
}
h1 {
  font-size: 30px;
}
.popup-content {
  width: 100%;
  height: calc(100% - 63px);
}
.popup-content table {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid gray;
}
/* .popup-button {
  visibility: hidden;
} */
.popup-close-button {
  cursor: pointer;
}

.grade-date,
.exam-date {
  border-left: 0px;
}
h3 {
  height: 23px;
  border-top: 3px solid gray;
  padding: 20px 0;
  margin: auto;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
h3:hover {
  border-top: 3px solid white;
  background-color: gray;
  color: white;
}
